@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
body {
    background-color: white;
    color: black;
    margin: 0;
    width: 100vw;
    font-family: "Nunito-Sans", sans-serif;
}

#site-width-maxer {
    max-width: 64rem;
    margin: auto;
    padding: 0 1.5rem;
}

.left-inline {
    display: inline;
    text-align: left;
}

.right-inline {
    display: inline;
    text-align: right;
    float: right;
}

nav {
    top: 0;
    margin: auto;
    padding: 1.5rem 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: right;
}

nav li {
    padding: 0;
    margin: 0 0 0 20px;
    display: inline;
}

nav li a {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: black;
}

.logo-title {
    font-family: "Spline Sans Mono", serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.content section {
    width: 100%;
    margin: 1rem 0;
}

.content h1 {
    font-family: "Spline Sans Mono", serif;
    font-size: 4rem;
    font-weight: 600;
    margin: 1.5rem 0 2.5rem 0;
}

.content h2 {
    font-family: "Spline Sans Mono", serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem 0;
}

.content p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1.5rem;
}

.content a {
    color: blue;
    text-decoration: underline;
    text-decoration-color: rgba(0,0,255,0);
    transition: text-decoration-color 0.1s ease-in-out;
}

.content a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0,0,255,1);
}

hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(213, 220, 227);
}

/*
@media screen and (orientation:landscape) {
    .mobile-only {
        display: none !important;
    }
}

@media screen and (orientation:portrait) {
    .desktop-only {
        display: none !important;
    }
}
*/